@font-face {
    font-family: Quickssand-light;
    src: url(../fonts/Quicksand-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --height-full: 100vh;
    --color-light: #f4f4f4;
    --color-dark: #111111;
    --color-orange: #ff6600;
    --color-orange-alpha: rgba(255, 102, 0, 0.4);
    --spacing-sm: 10px;
    --spacing-md: 20px;
    --spacing-lg: 30px;
}

html {
    scroll-behavior: smooth;
    font-family: Quickssand-light;
}

ul, ol{
    list-style: none;
}

a {
    color:var(--color-light);
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    color: var(--color-orange);
}

.hero {
    color: var(--color-light);
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .4)),
    url(../images/motos/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: var(--height-full);
}

.header-hero{
    height: 100px;
    padding-inline: var(--spacing-md);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-hero-list {
    display: flex;
    gap: var(--spacing-md);
}

.cta {
    height: calc(100vh - 100px); /*ele faz o calculo*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-md);
    text-align: center;
}

.cta h2{
    font-size: 8vmin;
    text-wrap: balance;
}

.cta p {
    width: 70%;
    text-wrap: balance;
    font-weight: 600;
    line-height: 1.6;
}

.btn{
    border: 2px solid var(--color-orange);
    padding: var(--spacing-sm) var(--spacing-lg);
    border-radius: 80px;
    background-color: var(--color-orange-alpha);
    transition: background-color .5s;
}

.btn:hover {
    background-color: transparent;
}

.icon {
    animation: motinha 1.5s infinite linear;
}

.box{
    height: var(--height-full);  
}

.motos {
    min-height: var(--height-full);  
    background-color: var(--color-dark);
    padding: var(--spacing-lg);
}

.motos h2 {
    color: var(--color-light);
    font-size: 6wmin;
}

.grid-motos {
    width: 90%;
    margin-inline: auto;
    margin-block: var(--spacing-lg);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-sm); /*Espaçamento entre os elementos */
    flex-wrap: wrap;
}

.grid-motos-item {
    width: 30%;
    box-shadow: inset 1px 1px 10px var(--color-orange-alpha);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-lg);
    color: var(--color-light);
    padding: var(--spacing-md);
    border-radius: 8px;
    text-align: center;
    transition: .5s;
    margin: var(--spacing-sm);
    /* filter: grayscale(1); */
    animation: viewAnimation both;
    animation-timeline: view(70% 20%);
}

.grid-motos-item:hover{
    scale: 1.05;
    /* filter: grayscale(0); */
}

.grid-motos-item img{
    width: 80%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    object-fit: fill;
}

.grid-motos-item p{
    width: 85%;
    text-wrap: balance;
}

/* pequena animação */
@keyframes motinha {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }

}

@keyframes viewAnimation {
    
    from {
        opacity: 0;
        transform: scale(.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }

}

/* pensando no meio responsivo */
@media(width <= 900px){
    .grid-motos-item {
        width: 45%;
    }
}

@media(width <= 600px){
    .grid-motos-item {
        width: 90%;
    }
}