*{
    margin: 0;
}

:root{
    --height-full: 100vh;
}

html {
    scroll-behavior: smooth;
}

.hero {
    background-image: url(../images/motos/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: var(--height-full);
}

.box{
    height: var(--height-full);
    
}